<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elavon.converge">

    <uses-permission android:name="poynt.permission.SECURITY_SERVICE" />
    <uses-permission android:name="poynt.permission.CONFIGURATION_SERVICE" />
    <uses-permission android:name="co.poynt.business.ACCESS_BUSINESS" />
    <uses-permission android:name="poynt.permission.SECOND_SCREEN_SERVICE" />

    <application
        android:name="com.elavon.converge.ElavonConvergeProcessorApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <service
            android:name="com.elavon.converge.TransactionService"
            android:exported="true">
            <intent-filter>
                <action android:name="co.poynt.os.services.v1.IPoyntTransactionService" />
            </intent-filter>

            <meta-data
                android:name="co.poynt.os.service.capability"
                android:resource="@xml/transaction_capabilities" />
        </service>
    </application>

</manifest>